<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	       version="2.5">
	
  <persistence-unit-ref>
    <persistence-unit-ref-name>persistence/bookmarksPU</persistence-unit-ref-name>
    <persistence-unit-name>bookmarksPU</persistence-unit-name>
  </persistence-unit-ref>	       

  <servlet>
    <servlet-name>bookmarks</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmarks</servlet-name>
    <url-pattern>/b/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>net.anthonychaves.bookmarks.web.ImageCaptchaServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha</url-pattern>
  </servlet-mapping>

  <context-root>/bookmarks</context-root>

	<filter>
	  <filter-name>LoginTokenFilter</filter-name>
	  <filter-class>net.anthonychaves.bookmarks.web.PersistentLoginFilter</filter-class>
	</filter>
	
	<filter-mapping>
	  <filter-name>LoginTokenFilter</filter-name>
	  <servlet-name>bookmarks</servlet-name>
	</filter-mapping>

</web-app>