<!--
  Copyright 2010 Anthony Chaves
  
  This file is part of Bookmarks.

  Bookmarks is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as published by
  the Free Software Foundation, either version 3 of the License, or
  (at your option) any later version.

  Bookmarks is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with Bookmarks.  If not, see <http://www.gnu.org/licenses/>.
-->
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	       xsi:schemaLocation="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	       version="2.5">
	
  <context-root>/bookmarks</context-root>

  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>/WEB-INF/bookmarks-servlet.xml</param-value>
  </context-param>

  <listener> 
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>

  <persistence-unit-ref>
    <persistence-unit-ref-name>persistence/bookmarksPU</persistence-unit-ref-name>
    <persistence-unit-name>bookmarksPU</persistence-unit-name>
  </persistence-unit-ref>	       

  <servlet>
    <servlet-name>bookmarks</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>bookmarks</servlet-name>
    <url-pattern>/b/*</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>net.anthonychaves.bookmarks.web.ImageCaptchaServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha</url-pattern>
  </servlet-mapping>

	<filter>
	  <filter-name>persistentLoginFilter</filter-name>
	  <filter-class>org.springframework.web.filter.DelegatingFilterProxy</filter-class>
	</filter>

	<filter-mapping>
	  <filter-name>persistentLoginFilter</filter-name>
	  <servlet-name>bookmarks</servlet-name>
	</filter-mapping>

  <welcome-file-list>
    <welcome-file>user_new.jsp</welcome-file>
  </welcome-file-list>
</web-app>